In [1]:
#encoding=utf-8

In [2]:
an_apple=27

In [3]:
an_example=42

In [5]:
b=[1,2,3]

In [6]:
b.

SyntaxError: invalid syntax (<ipython-input-6-fce66b6d5428>, line 1)

In [7]:
import datetime

In [8]:
datetime.

SyntaxError: invalid syntax (<ipython-input-8-e9ba75918e6c>, line 1)

In [9]:

datesets/movielens

NameError: name 'datesets' is not defined

In [10]:
def f(x,y,z):
    return (x+y)/z
a=5
b=6
c=7.5
result=f(a,b,c)

In [11]:
import numpy as np

#:About Magic Commands

In [ ]:
a=np.random.randn(100,100)

In [14]:
%timeit np.dot(a,a)

123 µs ± 29.4 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
%debug?

In [16]:
%pwd

'C:\\Users\\Administrator\\AnacondaProjects'

In [17]:
foo=%pwd

In [18]:
foo

'C:\\Users\\Administrator\\AnacondaProjects'

##:Matplotlib Integration

In [19]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [20]:
%matplotlib inline

Python language Basics

#languange Sematics

indentaion,not braces

In [21]:
for x in array:
    if x < pivot:
        less.append(x)
    -else:
        greater.append(x)
        
a=5 ;b=6,c=7

SyntaxError: invalid syntax (<ipython-input-21-270ba7672ec0>, line 4)

In [22]:
a=[1,2,3]

In [23]:
b=a

In [24]:
a.append(4)

In [25]:
b

[1, 2, 3, 4]

In [26]:
def append_element(some_list,element):
    some_list.append(element)

In [27]:
data=[1,2,3]

In [28]:
append_element(data,4)

In [29]:
data

[1, 2, 3, 4]

In [30]:
a=5
type(a)
a='foo'
type(a)

str

In [31]:
'5'+5

TypeError: must be str, not int

In [32]:
a=4.5
b=2
print('a is {0}, b is {1}'.format(type(a),type(b)))
a/b

a is <class 'float'>, b is <class 'int'>

2.25

In [33]:
a=5
isinstance(a,int)

True


Attributes and methods
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith

In [35]:
a='foo'

In [36]:
getattr(a,'split')

In [41]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:#not iterable
        return False

In [42]:
isiterable('a string')
isiterable([1,2,3])
isiterable(5)

False

In [43]:
isiterable([1,2,3])

True

In [44]:
isiterable(5)

False

In [45]:
isiterable('a string')

True

In [46]:
5-7

-2

In [47]:
12+21.5

33.5

In [48]:
5<=2

False

In [49]:
a=[1,2,3]

In [50]:
b=a

In [51]:
c=list(a)

In [52]:
a is b

True

In [53]:
a is not c

True

In [54]:
a==c

True

In [55]:
a=None

In [56]:
a is None

True

In [57]:
a_list=['foo',2,[4,5]]

In [58]:
a_list[2]=(3,4)

In [59]:
a_list

['foo', 2, (3, 4)]

In [61]:
a_tuple=(3,5,(4,5))

In [62]:
a_tuple[1]='four'

TypeError: 'tuple' object does not support item assignment

Scalar Types
Numeric types

In [63]:
ival=789456

In [64]:
ival **6

242084831735382733330803180863225856

In [65]:
fval=7.235

In [66]:
fval2=6.78e-5

In [67]:
3/2

1.5

In [68]:
3//2

1

In [69]:
c="""this
is a longger string
that spans multiple lines"""

In [70]:
c.count('\n')

2

In [71]:
a='this is a string'

In [72]:
a[10]='f'

TypeError: 'str' object does not support item assignment

In [73]:
b=a.replace('string','longger string')

In [74]:
b

'this is a longger string'

In [75]:
s='python'

In [76]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [77]:
s[:3]

'pyt'

In [78]:
s=r'this\sdfsdf\sddd'

In [79]:
s

'this\\sdfsdf\\sddd'

In [80]:
template='{0:.2f} {1:s} are worth US${2:d}'

In [82]:
template.format(4.5886,'dfsfsdfa',156)

'4.59 dfsfsdfa are worth US$156'

In [83]:
val='español'

In [84]:
val

'español'

In [85]:
val_utf8=val.encode('utf-8')

In [86]:
val_utf8

b'espa\xc3\xb1ol'

In [87]:
type(val_utf8
    )

bytes

In [88]:
val.encode('latin1')

b'espa\xf1ol'

In [89]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [90]:
bytes_val=b'this is tytes'

In [91]:
bytes_val

b'this is tytes'

In [92]:
decoded=bytes_val.decode('utf8')

In [93]:
decoded

'this is tytes'

In [94]:
Ture and Ture

NameError: name 'Ture' is not defined

In [95]:
False or True

True

In [96]:
s='3.14159'

In [97]:
fval=float(s)

In [98]:
type(fval)

float

In [99]:
int(fval)

3

In [100]:
bool(fval)

True

In [101]:
bool(0)

False

In [102]:
a=None

In [103]:
a is None

True

In [104]:
b=5

In [105]:
b is not None

True

In [106]:
type(None)

NoneType

In [108]:
from datetime import datetime,date,time

In [109]:
dt=datetime(2011,10,29,20,30,30,21)

In [110]:
dt.day

29

In [111]:
dt.minute

30

In [112]:
dt.date()

datetime.date(2011, 10, 29)

In [113]:
dt.time()

datetime.time(20, 30, 30, 21)

In [114]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [117]:
datetime.strptime('20091031','%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

ddfffd

In [118]:
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0, 0, 21)

In [119]:
a=5;b=7
c=8;d=4
if a<b or c>d:
    print('made it')

made it

In [120]:
4>3>3>1

False

In [122]:
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [123]:
range(10)

range(0, 10)

In [124]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [125]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [126]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [131]:
seq=[1,2,3,4] 
for i in range(len(seq)):
    val=seq[i]
    sum=0 
    for i in range(10000):
        if i%3==0 or i%5==0:
            sum+=i

In [132]:
sum

23331668

In [133]:
x=5
'Non-negative' if x>=0 else 'Negative'

'Non-negative'